@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap');
*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Oxygen', sans-serif;
  color: #000;
  scrollbar-width: none;
}
body {
  min-height: 100vh;
  min-width: 100vw;
  background-color: rgba(0, 0, 0, 0.95);
  display: flex;
  align-items: center;
  justify-content: center;
}
div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
h1 {
  color: #fff;
  font-size: 2.5em;
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.5);
  cursor: default;
  transition: all 0.2s ease;
}
h1:hover {
  transform: scale(1.2);
  text-shadow: 0 0 12px rgba(255, 255, 255, 0.5);
}
a {
  display: inline-block;
  margin-top: 20px;
  color: #555;
  text-decoration: none;
  text-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
}

::selection {
  background-color: rgba(0, 0, 0, 0.95);
}
::-webkit-scrollbar {
  height: 0;
  width: 0;
}
